<div class="panel-body">
  <div  style="width:100%; border-style:solid;border-width:5px;display:inline-block;">
    <a class="fancy_box_cont" href="<%= img_url %>">
      <img class="img-responsive" src="<%= img_url %>" alt="This picture loads on non-supporting browsers.">
    </a>
  </div>
</div>