<div class="panel-body">
  <div id="recent_pic" style="width:100%; border-style:solid;border-width:2px;display:inline-block;">
    <a href="http://i.imgur.com/swyWWfQ.jpg">
      <img class="img-responsive" src="http://i.imgur.com/swyWWfQ.jpg" alt="This picture loads on non-supporting browsers.">
    </a>
  </div>
</div>