<!--<div class="control-group" id="input-group">-->
    <!--<div class="controls">-->
        <div class="input-group-sm">
            <input id="gen-{{input_type}}-input-{{row_id}}" type="text" class="{{input_type}}-input form-control" value ="{{value}}"/>
            <!--<label for="date-picker-2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>-->
            </label>
        </div>
    <!--</div>-->
<!--</div>-->